@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #048ba8;
  --success: #20e9a9;
  --error: #c44900;
  --background: #28262c;
  --background-darker: #1e1c21;
  --foreground: #f0eff4;
}

::selection {
  background-color: var(--primary);
  color: var(--foreground);
}
